.gameBoard .cardHolder .front {
  text-align: center;
}
.gameBoard .cardHolder .front span {
  font-size: 30px;
  position: absolute;
  border-radius: 50%;
  line-height: 35px;
  height: 35px;
  width: 45px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  margin: auto;
  border: 2px solid #FFFFFF;
}